// HEADER TOP
.header-top {
    display: flex;
    justify-content: center;
    align-items: center;
    @media (min-width: $media-desktop) {
        justify-content: flex-start;
        padding: 0.25rem 1rem;
    }
}

.header-top__left {
    // this is the area of the header where the logo for the desktop version is
    // it is hidden by default and shown only when desktop width is met
    display: none;
    @media (min-width: $media-desktop) {
        display: block;
        position: static;
        flex: 0 0 200px;
    }
}

.header-top__right {
    width: 100%;
    display: flex;

    @media (min-width:$media-tablet) {
        width: 80%;
        justify-content: center;
        gap: 0 1rem;
    }

    @media (min-width: $media-desktop) {
        width: unset;
        justify-content: center;
        gap: 0 1rem;
        margin-inline-start: auto;
    }
}

.header-top__right > .inner {
    padding: 0.35rem;
    flex: 1 1 25%;

    @media (min-width: $media-tablet) {
        flex: 0 0 auto;
    }
}

// HEADER BOTTOM
.header-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-block-start: 1px solid var(--light-gray);
    padding-inline: 0.5rem;
    padding-block: 0.3rem;
    background-color: var(--white);
    @media (min-width: $media-desktop) {
        border-block-start: unset;
        border-block-end: 1px solid var(--light-gray);
        padding-block-end: 0.4rem;
    }

    &.fixed {
        position: fixed;
        top: 0;
        width: 100%;
    }
}

.header-bottom__left {
    // padding-block-start: 0.5rem;
    // flex: 1;
    display: flex;
    align-items: center;
}


#open-button {
    @media (min-width: $media-desktop) {
        display: none;
    }
}

.header-bottom__left > .logo__img {

    // the height value ensures the logo and the menu icon have the same height
    // the height of the menu icon (24px) is smaller than its real size (32px)
    height: 24px;
    flex: 0 0 100px;
    @media (min-width: $media-desktop) {
        display: none;
    }
}

.header-bottom__left .site-nav {
    //Toggle the value of the display property between none and block to test the menu
    // This property lives here because it controls the layout
    // display: none;
    
    @media (min-width: $media-desktop) {
        position: static;
        display: flex;
        gap: 0 1.5rem;
        margin-block: 0;

        > .mobile {
            display: none;
        }
    }
}

.header-bottom__right {
    display: flex;
    justify-content: flex-end;
    // gap: 0.5rem;
    @media (min-width: $media-desktop) {
        gap: 0;
    }
}

.header-bottom__right > .inner {
    flex: 0 0 25%;
}


