.menu {
    --svg-color: var(--black);

    display: flex;
    flex-direction: column;

    position: absolute;
    inset-block: 0;
    inset-inline-start: 0;

    width: 18rem;
    // height: 100vh;

    background-color: var(--white);

    .menu-header {
        padding: 0.5rem 1rem;
        border-block-end: 1px solid var(--light-gray);
        overflow: hidden;
    }
    
    .menu-body {
        flex: 1;
        overflow: hidden;

        position: relative;

    }

    .back-button {
        display: block;
        position: absolute;
        inset: 0;
        inset-block-start: 0.4rem;
        inset-inline-start: 1rem;

        transform: translate(18rem);
        transition: transform 0.4s ease-in-out;

        width: 2rem;
        height: 2rem;
        border: none;

        background-color: transparent;
        text-indent: 30rem;
        text-wrap: nowrap;

        cursor: pointer;

        &.is-active {
            transform: translate(0);
        }

        &::after {
            position: absolute;
            inset: 0;

            transform: translate(0, 0.25rem) rotate(-90deg);

            display: block;
            content: "";
            width: 1.5rem;
            height: 1.5rem;

            background-image: url("./images/arrow.svg");
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
        }
    }

    .main-menu,
    .lvl2-menu,
    .lvl3-menu {
        position: absolute;
        inset: 0;

        padding-inline: 1.5rem;
        
        overflow-y: auto;
        scrollbar-width: thin;
    }

    .logo {
        transform: translate(-18rem);
        transition: transform 0.4s ease-in-out;
        > img {
            max-width: 100px;
        }
        &.is-active {
            transform: translate(0rem);
        }
    }


    hr {
        border: none;
        border-block-start: 1px solid black;
        margin-block: 0;
    }

    ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }

    a {
        display: block;
    }

    .menu-button,
    .menu-link,
    .menu-compound-link {
        width: 100%;
        margin: 0;
        padding-block: 0.75rem;
        cursor: pointer;
    }
    
    .menu-button {
        display: flex;
        justify-content: space-between;
        align-items: center;
        
        background-color: var(--white);
        border: none;
    }

    .menu-button-arrow {
        transform: rotate(90deg);
        width: 1rem;
        height: 1rem;
        position: relative;
    }
    
    .menu-button-icon {
        position: absolute;
        inset-block-start: -3px;
        inset-inline-start: -1px;
        display: block;
        width: 1rem;
        height: 1rem;
    }

    .menu-compound-link {
        display: flex;
        gap: 1rem;
        align-items: center;
    }

    .menu-link-icon {
        height: 1rem;
        width: 1rem;
    }

    .menu-link-arrow {
        flex: 0 0 auto;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 2.5rem;
        width: 2.5rem;
    }

    #audiology-menu {
        .menu-link-arrow {
            background-color: var(--corp-red);
        }
        .menu-link-icon {
            --svg-color: var(--white);
        }
    }

    .menu-section {
        padding-block: 1rem;
    }
    
    .menu-subsection-title {
        margin: 0;
        margin-block-start: 0.75rem;
        margin-block-end: 1rem;

        font-size: 1rem;
        font-weight: 600;

        letter-spacing: 1px;
    }

    .menu-subsection.type-B {
        > ul {
            padding-inline-start: 1rem;
        }
    }

    .menu-subsection.type-C {
        padding-block: .75rem;
    }

    #audiology .menu-button-icon {
        --svg-color: var(--corp-red);
    }

    .glasses-shape { 
        
        .menu-link-icon {
            width: 3rem;
            height: 1.2rem;
        }

        .menu-link-shape {
            position:relative;
            top: 0.1rem;
        }
    }

    // MENU TRANSITIONS


    .main-menu {
        transform: translate(-18rem);
        transition: transform 0.4s ease-in-out;
        &.is-active {
            transform: translate(0rem);
        }
    }

    .lvl2-menu {
        transform: translate(18rem);
        transition: transform 0.4s ease-in-out;
        &.is-active {
            transform: translate(0rem);
        }
        &.is-waiting {
            transform: translate(-18rem);
        }
    }

    .lvl3-menu {
        transform: translate(18rem);
        transition: transform 0.4s ease-in-out;
        &.is-active {
            transform: translate(0rem);
        }
    }

    // #eyeglasses-menu {
    //     display: none;
    // }

    // #contacts-menu {
    //     display: none;
    // }
    
    // #magic-menu {
    //     display: none;
    // }

    // #audiology-menu {
    //     display: none;
    // }
    
    // #sight-menu {
    //     display: none;
    // }
    
    // #sunglasses-brands-menu {
    //     display: none;
    // }

    // #sunglasses-styles-menu {
    //     display: none;
    // }

    // #sunglasses-shapes-menu {
    //     display: none;
    // }

    // #eyeglasses-brands-menu {
    //     display: none;
    // }

    // #eyeglasses-styles-menu {
    //     display: none;
    // }
    
    // #eyeglasses-shapes-menu {
    //     display: none;
    // }
    
    // #contacts-brands-menu {
    //     display: none;
    // }

    // #contacts-sight-menu {
    //     display: none;
    // }

    // #contacts-periodicity-menu {
    //     display: none;
    // }

    // #contacts-laboratories-menu {
    //     display: none;
    // }

    // #liquids-tears-menu {
    //     display: none;
    // }

    // #sight-kids-menu {
    //     display: none;
    // }

    // #sight-sight-correction {
    //     display: none;
    // }

    // #sight-face-shape {
    //     display: none;
    // }

    // #special-services-menu {
    //     display: none;
    // }
}